body{
    font-family: 'Roboto',sans-serif;
    background: linear-gradient(to right, #230543, #2575fc);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.quiz-container{
    background-color: rgb(21, 108, 163);
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    text-align: center;
    border-radius: 20px;
}

.quiz-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.timer{
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    background-color: #fff;
    color: #230543;
    border-radius: 5px;
}

.question-number{
    font-size: 18px;
    font-weight: 700;
}

.question{
    font-size: 24px;
    margin: 20px 0;
}

.options{
    display: flex;
    flex-direction: column;
}

.option{
    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover{
    background-color: #ffd460;
    transform: scale(1.03);
}

.next-button{
    background-color: #ff4757;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* new */
    transition: all 0.3s ease;
}

.next-button:hover{
    background-color: #1d0ca1;
    transform: scale(1.05);
}

/*make scrollable on small screen*/
@media screen and (max-width: 500px) {
    .quiz-container {
        padding: 20px 10px;
        font-size: 14px;
    }

    .question {
        font-size: 20px;
    }

    .option {
        font-size: 14px;
    }

    .next-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
